#heartbeat, #chat, #share_io{ 
    width: 22px;
    height: 25px; 
    margin: auto 3pt auto 5pt;
    --border: 1px solid rgb(173, 47, 135);
}
.fav_svg_icon{
    display: flex;
    flex-direction: row;
    padding: 0px 5px 0px 5px;
    height: 30px; 
    
}
.S_text #s_text_name{

    font-weight:900 ;
    margin-right: 8px;
    font-size: 8pt;
    --border: 1px solid rgb(173, 47, 135);
}
.S_text i{
    font-family: Gudea,Heiti,微軟正黑體,Microsoft JhengHei;
    font-size: 6pt;
    font-style: normal;
    margin-left: 10px;
    --border: 1px solid rgb(173, 47, 135);
}
#container_3{
    width: inherit;
    height: 375px;
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to top left, #e434c1, #f5a85b);
    position: relative;
  
}
.format_1,
.format_2{
    padding: 3px;
}

.format_3{
    padding: 3px 0px 3px 0px;
}
.format_3 .menu_1{
    margin: 5px;

}
.s_camera{
    --border: 1px solid rgb(173, 47, 135);
    height: 28px;
    background-image: url(svg/camera-svgrepo-com.svg);
    width: 28px;
    
}
.container_left .circle{
    width: 100px;
    height: 100px;
    margin: 20px 10px 15px 5px;

}
.container_left .circle .circle_mid{
    width: 90px;
    height: 90px;
    margin: 3%;
}
.container_left .circle .circle_mid .circle_a{
    width: 85px;
    height: 85px;
    margin: 3%;
}
.block_right_2{
 width: 40%;
}
.block_right{
    background-color:rgba(215, 208, 208, 0.3);
    height: 20px;
    margin: 5px;
    margin-top: 11%;
}


.container_right{
    float: right;
    width: 60%;
    height: 50%;
    --border: 1px solid rgb(173, 47, 135);
}

.container_left{
    float: left;
    width: 38%;
    height: 50%;
    --border: 1px solid red;

}
.container_bottom{
    --border: 1px solid rgb(173, 47, 135);
    height: 50px;
    width: 100%;
    height: 10%;;
    float: left;
}
.sharp {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: bottom;
    bottom: 0px;
    margin-left: 15px;
    margin-bottom: 15px;
    position: absolute;
}
#grid_icon{
    background-image: url(svg/grid-svgrepo-com-2.svg);
    margin:  auto ;
    padding: 14px 14px 14px 10px ;
}
#cloud_icon{
    background-image: url(svg/cloud-computing-data-2-svgrepo-com.svg);
    margin:  auto ;
    padding: 16px 16px 16px 10px ;
}
#picture_icon{
    background-image: url(svg/set-picture-galery-svgrepo-com.svg);
    margin:  auto ;
    padding: 18px 18px 18px 10px ;
}

#bookmark_icon{
    background-image: url(svg/notif-notification-svgrepo-com.svg);
    margin:  auto ;
    padding: 18px 18px 18px 10px ;
}
.hd_frame{
    --border: 1px solid;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin: auto;
    border-bottom: 1px solid lightgray;
}
.menu_1 select {
    background: transparent;
    font-family: Gudea,Heiti,微軟正黑體,Microsoft JhengHei;
    padding-top: 1px;
    padding-left: 3px;
    width: 90px;
    height: 24px;
    font-size: 11pt;
    font-weight:900 ;
    border-color:transparent;
    
}
#menu_b i{
    font-family: Gudea,Heiti,微軟正黑體,Microsoft JhengHei;
    font-size: 10px;
    font-style: normal;
    margin-top: 5px; 
}
#menu_b .login_hd {
    background-image: url(svg/user-avatar-filled-svgrepo-com.svg);
    display:inline-block;
    width: 26px;
    height: auto;
    margin: 0px 10px 0px 10px ;

}

#menu_b{
    position: relative;
    display: flex;
    flex-direction: row;
    
}
.menu_1 {
    margin: auto;
    padding: 3px 0px 3px 0px;
    width: 290px;
    height: 26px; 
    text-align: left;
   /*  border-bottom: 1px solid lightgray; */
    --border: 1px solid rgb(133, 131, 131 , 0.3);
}

#container_1 {
    width: 290px;
    height: 270px;
    margin: 2px auto auto auto;
    padding: 1px;
    --border: 1px solid rgb(16, 3, 12);
    background-image: linear-gradient(to top left, #e434c1, #f5a85b);
    position: relative;
    border-radius: 2%;
}

#container_2 {
    position: relative;
    width: 290px;
    height: 270px;
    margin: auto;
    padding: 1px;
    --border: 1px solid rgb(173, 47, 135);
    
}
.block_bottom {
  background-color: rgba(215, 208, 208, 0.3);
  height: 20px;
  margin: 3px;
}
.circle{
    width: 55px;
    height: 55px;
    padding: 2px;
    margin-left: 4%;
    margin-top: 1%;
    display: inline-block;
    box-sizing: border-box;  
    
    border-radius: 50%; 
    border-image: linear-gradient(top left, #f5a85b 0%, #e434c1 90%) ;
    background-image: -webkit-linear-gradient(top left, #f5a85b 0%, #e434c1 90%) ;  
    background-image: -moz-linear-gradient(top left, #f5a85b 0%, #e434c1 90%) ; 
}


.circle .circle_mid {
    width:51px;
    height:51px;
    border-radius:50%; 
    display: inline-block;
    background:#fff; 
    
}
.circle .circle_a {
    width: 47px;
    height: 47px;
    margin:4%;
    border-radius:50%; 
    background:lightgray; 
    
}
#container_2 .photo_block{
    --border: 1px solid rgb(30, 160, 241);
    width: 100%;
    height: 60px;
    float: right;
}
#container_2 .smail_icon .s_icon{
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0%;
    --border: 1px solid rgb(14, 161, 63);
    width: 32px;
    height: 30px;
    vertical-align:bottom;
 
}
#container_2 .smail_icon{
    display: flex;
    flex-direction: row;
   --border: 1px solid rgb(30, 160, 241);
     width: 100%;
     height: 35px;
     margin-top: 10px;
     justify-content: center;
     align-items: center;;
     float: left;
 }


.photo_select .box_1 {
    --border: 1px solid rgb(51, 239, 60);
    width: 92px;
    height: 91px;
    padding: 1px 2px 1px 0px;
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(to top left, #e434c1, #f5a85b);
    border-radius: 2%;
   
}

#S_format_1 .photo_select {
   /*  border: 1px solid blue; */
   -- padding: 1px;
    width: 290px;
    height: 190px;
    margin: 3px auto auto auto;

}

#S_format_1 {
    margin:auto auto 10px auto;
    height: 500px;
    width: 300px;
    border: 1px solid lightgray;
    border-radius: 2%;

}
body{
    --border: 1px solid blue;
    width: 800px;
    font-family: Gudea,Heiti,微軟正黑體,Microsoft JhengHei;
}
